rv-installer/retroveneer-installer-0.0.1-x86_64.AppImage
rv-installer/retroveneer-installer-0.0.1-x86_64.AppImage.zsync
rv-ui/retroveneer-ui-0.0.1-x86_64.AppImage
rv-ui/retroveneer-ui-0.0.1-x86_64.AppImage.zsync
